.characters_list {
  display: grid;
  grid-template-areas: "character_content character_content character_content favorites_content";
}

.character_content {
  background: var(--gray);
  display: grid;
  grid-area: character_content;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 35px 15px 35px 35px;
}

.character_content .character_card {
  background: var(--white);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 300px; */
  padding: 15px;
  width: 100%;
}

.character_content .character_card .col_card.card_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.character_content .character_card .col_card.card_top p{
  margin: 15px 0;
}

.character_content .character_card .col_card.card_btm p{
  display: inline-block;
  margin: 5px 15px 5px 0;
}

.character_content .character_card .col_card img {
  width: 150px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  border-radius: 100%;
  transform: translateX(-35px) translateY(-35px)
}

.favorites_content {
  background: var(--gray-favorites);
  grid-area: favorites_content;
}
