.list_content {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.character_content .character_card {
  background: var(--white);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  padding: 15px;
  width: 100%;
}

.character_content .character_card .col_card.card_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.character_content .character_card .col_card.card_top p {
  margin: 15px 0;
}

article {
  padding-left: 150px;
}

.character_content .character_card .col_card.card_btm p {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  height: 20px;
  margin: 5px 15px 5px 0;
}

.character_content .character_card .img_character {
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  border-radius: 100%;
  transform: translateX(-35px) translateY(-35px);
  position: absolute;
}

.arrow_toggle {
  background: var(--gray-favorites);
  color: var(--red-marvel);
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  padding: 0 5px;
  position: absolute;
  right: 100%;
  top: 0;
}

@media only screen and (max-width: 700px) {
  .arrow_toggle {
    display: block;
  }

  .rotate_arrow {
    display: block;
    transform: rotateZ(180deg);
  }

  .openFavs {
    left: calc(100% - 290px);
    position: fixed;
  }

}

@media only screen and (max-width: 450px) {
  .list_content {
    grid-template-columns: 300px;
  }

  .img_character {
    width: 100px;
  }

  .character_card .col_card.card_top p {
    height: 55px;
    overflow: hidden;
  }
}
