<app-sort-by></app-sort-by>
<div class="characters_list">
  <div class="character_content">
    <div class="character_card">
      <div class="col_card card_top">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/9/c0/527bb7b37ff55.jpg" alt="">
        <article>
          <h3>Spider Man</h3>
          <p>Aquí un parrafito que puede ser largo per cortico Aquí un parrafito cortico</p>
          <button class="btn_primary">View more</button>
        </article>
      </div>
      <div class="col_card card_btm">
        <h3>Related comics</h3>
        <p>Aquí el numbre</p>
        <p>Aquí otro numbre</p>
        <p>Aquí el numbre</p>
        <p>Aquí otro numbre</p>
      </div>

    </div>
    <div class="character_card">df</div>
    <div class="character_card">df</div>
    <div class="character_card">df</div>
    <div class="character_card">df</div>
    <div class="character_card">df</div>
  </div>
  <div class="favorites_content">Fav</div>
</div>
