/* You can add global styles to this file, and also import other style files */
html {
  --black: #202020;
  --gray: #EFEFEF;
  --gray-favorites: #CFCFCF;
  --red-marvel: #F0141E;
  --roboto: 'Roboto',
  sans-serif;
  --roboto-cond: 'Roboto Condensed',
  sans-serif;
  --white: #FFFFFF;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

button {
  font-family: var(--roboto);
  font-weight: bold;
}

button, input {
  border: none;
}

input {
  background: var(--gray);
  font-family: var(--roboto);
  font-size: 1rem;
  border-radius: 2px;
}

button.btn_primary {
  background: var(--red-marvel);
  color: var(--white);
  text-transform: uppercase;
  padding: 15px 10px;
}
